[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alwalputta
[access "refs/for/refs/*"]
	read = group user/alwalputta
	push = group user/alwalputta
	label-Code-Review = -2..+2 group user/alwalputta
	label-Verified = -1..+1 group user/alwalputta
	rebase = group user/alwalputta
	removeReviewer = group user/alwalputta
	submit = group user/alwalputta
[access "refs/heads/*"]
	read = group user/alwalputta
	create = group user/alwalputta
	push = +force group user/alwalputta
	pushMerge = group user/alwalputta
[access "refs/tags/*"]
	push = group user/alwalputta
	push = +force group user/alwalputta
